// COLORS //
$color-green-primary: #21c900;
$color-green-secondary: #BAD60B;
$color-green-tertiary: #0BE02B;

$color-yellow-primary: #fff600;
$color-yellow-secondary: #E8CA0C;

$color-blue-primary: #0060ff;
$color-blue-secondary: #00fcff;

$color-orange-primary: #ffb400;

$color-brown-primary: #6d4500;

$color-gray-light-1: #f8f8f8;
$color-gray-light-2: #fefefe;
$color-gray-dark-1: #868686;

$color-white: #fff;
$color-black: #000;

$color-red: #CC2727;

// GRID //
$grid-width: 114rem;
$gutter-vertical: 3rem; // gutter => margin between cells;
$gutter-horizontal: 3rem;
