.u-overflow { overflow: hidden !important; }

.u-middle-x { margin-top: 50% !important; }

.u-very-small-margin-bottom { margin-bottom: 2rem !important; }

.u-small-margin-bottom { margin-bottom: 3rem !important; }

.u-small-margin-bottom--secondary { margin-bottom: 4rem !important; }

.u-small-margin-right { margin-right: 3rem !important; }

.u-small-margin-top { margin-top: 4rem !important; }

.u-medium-margin-top { margin-top: 6rem !important; }

.u-medium-margin-bottom { margin-bottom: 6rem !important; }

.u-maximum-max-width { max-width: 100% !important; }

.u-padding-none { padding: 0 !important; }

.u-margin-none { margin: 0 !important; }
