.arena {
    @include aspectRatioBox;

    
    
    display: block;
	z-index: 1000;
    background: $color-white;
    background-image: linear-gradient(to bottom right, rgba($color-green-secondary, 0.1), rgba($color-green-secondary, 0.2));
    overflow: auto;

    &__content-grid {
        position: relative;
        padding: 2rem;
        overflow: auto;

        width: 100%;
        max-width: 90rem;
        margin: 0 auto;

        @include greenBorder;
    }


    &__content-grid--horizontal-scroll {
        overflow-y: hidden;
        overflow-x: auto;
    }
    
    &__content-grid-row {
        display: flex;
        overflow: auto;
    }
}