.opening {
	@include aspectRatioBox;
	position: relative;
	background-image: linear-gradient(to right bottom, rgba($color-white, .47), rgba($color-white, .47)), url('../assets/images/temporarybg.png');
	background-size: 100% 100%;
	z-index: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__container {
		max-width: 90rem;
		display: inherit;
		justify-content: space-between;
		flex-direction: inherit;
		height: 85vh;
		align-items: inherit;
	}

	&__header-box {
		position: relative;

		img {
			width: 100%;
		}
	}

	&__main-box {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 1rem 0;

		.button {
			width: 100%;
			margin-top: 1rem;

			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}

	&__main-box--column {
		flex-direction: column;
	}

	&__footer-box {
		position: relative;
		width: 100%;
		font-size: 2.5rem;

		.header-secondary {
			font-size: 1.5rem;
		}
	}
 }