.stash {
    position: relative;
    height: 100vh;
    width: 100%;
    font-size: 4rem;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    overflow: auto; // meh
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
        margin: 3rem 0;
        position: relative;
    }

    &__main {
        padding: 2rem;
        overflow: auto;
        height: 70vh;

        @include greenBorder;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
    }
}   