
.form-box{
    position: relative;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: left;
    margin: 1.5rem 0;
    height: 100%;

    @include respond(medium-desktop) {
        font-size: 2.3rem;
        margin: 4% 0;
    }

    &__login-area {
        position: relative;
        width: 85%;
        height: 100%;
        margin: 12% auto;

        @include respond(medium-phone) {
            margin-top: 4.5rem;
        }
    }

    &__input {
        width: 100%;
        float: left;
        padding: 1rem;
        border-radius: .6rem;
        border: none;
        color: $color-white;
        background: -webkit-gradient(linear,left top, left bottom,from($color-gray-light-1),to($color-gray-dark-1));
        background: linear-gradient($color-gray-light-1,$color-gray-dark-1);
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;

        &:active {
            background: -webkit-gradient(linear,left top, left bottom,from($color-gray-light-1),to($color-gray-dark-1));
            background: linear-gradient($color-gray-light-1,$color-gray-dark-1);
        }

        &:focus {
            background: -webkit-gradient(linear,left top, left bottom,from($color-orange-primary),to($color-brown-primary));
            background: linear-gradient($color-orange-primary,$color-brown-primary);
        }
    }

    &__input--full{
        width: 100%;
        float: none;
    }

    &__input--date {
        width: 100%;
    }
}