.tv {
    background-image: url('../../assets/images/TV_BG.png');
    background-color: $color-gray-light-2;
    background-size: 100% 100%;
    //box-shadow: 0 1rem 1rem rgba($color-black, .6);
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2000;
    width: 100vh; /* Could be more or less, depending on screen size padding: 5% 50px; */
    height: 75vh;
    padding: 5%;
    text-align: center;

    @include respond(tab-port){
        width: 80vh;
    }

    &__logo {
        position: absolute;
        left: 50%;
        width: 100%;
        height: 110%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    &__header {
        position: relative;
        height: 30%;
    }

    &__body {
        margin-top: 1rem;
        position: relative;
        height: 50%;

        @include respond(tab-port) {
            padding-top: 4rem;
        }
    }

    &__body--form {
        margin-top: 0;
        position: absolute;
        transform: translateY(50%);
        top: 0;
        left: 0;
        padding: 0 7rem;
    }

    &__footer {
        position: relative;
        height: 20%;
    }

    &__header-absolute {
        position: absolute;
        left: 50%;
        top: 21vh;
        z-index: 2000;

        transform: translateX(-50%);
    }

    &__footer-absolute {
        position: absolute;
        left: 50%;
        top: 76vh;
        z-index: 2000;

        transform: translateX(-50%);
    }

    &__footer-absolute--submit {
        position: absolute;
        left: 50%;
        top: 63vh;
        z-index: 9000;

        transform: translateX(-50%);
    }

    &__sigin-error {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 7rem;
        background: $color-red;
        padding: .5rem;
        color: $color-white;
        font-size: 1.6rem;
        border-radius: .4rem;
        pointer-events: none;
        animation: appearFromRight 1.2s linear;
    }

    &__reset--valid {
        background: $color-green-tertiary;
        top: 17rem;
    }

    &__reset--error {
        background: $color-red;
        top: 17rem;
    }
}