.video-box {
    display: inline-block;
    width: 90%;
    padding: .6rem .9rem;
    background-image: url('../../assets/images/video_button.png');
    background-size: 100% 100%;
    margin-top: 35%;
}