.auction-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    &__title {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 3.5rem;
    }

    &__box {
        position: relative;
        display: flex;
        padding: 2rem 3rem;
        flex-wrap: wrap;
        flex: 0 0 auto;
        margin-right: 3rem;
        align-items: center;
        width: 70%;

        &:not(:last-child) {
            border-right: solid rgba(33, 201, 0, .1) 3px;
        }
    }

    &__information-box {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;    
    }

    &__picture {
        position: relative;
        width: 60%;
        height: 22rem;
        margin-right: 3rem;
        border-radius: 1rem;
        border: solid #aaa .3rem;
        padding: .5rem;
        cursor: pointer;
        transition: all .3s;

        &:focus, 
        &:hover {
            box-shadow: 0 0 2px 1px #aaa;
        }
    }

    &__information-list {
        position: relative;
        font-size: 3rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 40%;

        & > *:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__information-list--popup {
        width: 100%;
    }

    &__information-item {
        position: relative;
        width: 100%;

        button {
            width: 100%;
        }
    }
}

.button-alternative {
    position: relative;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    background: #fff;
    border-radius: 1.5rem;
    top: 0;
    box-shadow: none;
}

.join-button {
    border: solid #000 .3rem;
    padding: 1rem 3rem;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    display: block;
    transition: all .2s;
    font-family: inherit;
}

.details-button {
    align-items: center;
    border: solid #000 .3rem;
    padding: .5rem 2rem;
    width: 100%;
    transition: all .2s;
    font-family: inherit;
}

.join-button:hover, 
.join-button:focus,
.details-button:hover,
.details-button:focus {
    box-shadow: 0 .7rem #000;
    top: -.7rem;
}

.join-button:active,
.details-button:active {
    top: 0;
    box-shadow: none;
}

.arrow-button {
    position: relative;
    margin: 4rem;
    padding: 6rem 1.2rem;
    font-size: 5rem;
    border: solid #fff .5rem;
}
.arrow-button:hover,
.arrow-button:focus {
    background: #000;
    color: #fff;
}

.details-icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #000;
    margin-right: .8rem;
}

.details__list {
    position: absolute;
    color: #000;
    font-size: 3rem;
    list-style: none;
    top: 0;
    left: 0;
    background: white;
    padding: 3rem;
    border-radius: 2rem;
    transform: translate(50%);
    border: solid #000 .3rem;
}

.details__list-item {
    position: relative;
    display: flex;
    align-items: center;
}

.details__list-item--description {
    display: block;
}

.details__list-item:not(:last-child) {
    margin-bottom: 2rem;
}

.topic {
    position: relative;
}

.topic__content {
    position: relative;
}

.rate {
    width: 1.75rem;
    height: 1.75rem;
    fill: yellow;
    filter: drop-shadow(0 0 .7rem #000);
}