.form {
    position: relative;
    text-align: center;
    background-color: #fff;
    background-image: linear-gradient(rgba($color-green-secondary, 0.1), rgba($color-green-secondary, 0.25));
    padding: 3rem 6rem;
    font-size: 3.5rem;
    overflow-y: auto;
    overflow-x: hidden;

    @include greenBorder;

    .button__green--small {
        width: 40%;
        margin-top: 2rem;

        &:not(:last-child){
            margin-right: 2rem;
        }
    }

    &__input-field {
        position: relative;
        font-family: inherit;
        font-size: inherit;
        text-align: inherit;
        color: inherit;
        width: 100%;
        background: none;
        border: none;
        border-bottom: solid transparent .7rem;

        &:focus {
            border-bottom: solid gray .7rem;
        }  
    }

    &__input-icon {
        position: absolute;
        fill :$color-gray-dark-2;
        height: 2.5rem;
        width: 2.5rem;
        right: -3rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &__input-field--invalid {
        box-shadow: none;
        border-bottom: solid red .7rem;
    }

    &__input-field--valid {
        border-bottom: solid $color-green-tertiary .7rem;
    }

    &__input-box {
        position: relative;
        display: flex;
        margin-bottom: 2.5rem;
    }

    &__label {
        position: relative;
        margin-right: auto;
        cursor: pointer;
    }

    &__input-field-box {
        position: relative;
        width: 58%;
        display: flex;
        flex-direction: column;
    }

    &__error-message {
        margin-top: .8rem;
        font-size: 2.5rem;
        text-align: left;
    }
}