.horizontal-list {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    &__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        margin: 1rem;
        align-items: center;
        width: 25%;
        padding: 1.5rem;
    }
}